<!--<div class="container">-->
  <!--<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="18" (mapClick)="onChoseLocation($event)">-->
    <!--<agm-marker [latitude]="latitude" [longitude]="longitude" [label]="'home'" [title]="'jkdlaskldksald'"></agm-marker>-->
  <!--</agm-map>-->
<!--</div>-->

<!--<div class="container2">-->
  <!--<input type="file"-->
         <!--(change)="onFileSelected($event)"-->
         <!--#fileInput>-->
  <!--<button type="button" (click)="onUpload()">Upload</button>-->
<!--</div>-->

<router-outlet></router-outlet>
