<app-header></app-header>

<div class="contact">
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="17"
    [mapTypeId]="'hybrid'"
    (mapClick)="onChoseLocation($event)">
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      [label]="''"
      [title]="'Loc De Joaca Kids Party Kungfu Pizza - KPKP'">
    </agm-marker>
  </agm-map>

  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <h3>CONTACT</h3>
        <p>Telefon informatii si rezervari: <a href="tel:+0720 317 252">0720 317 252 </a></p>
        <p>Email: kidspartykungfupizza@gmail.com</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <h3>PROGRAM</h3>
        <p>Luni - Duminica: 12:00 PM - 8:00 PM</p>
        <p>* in zilele de sarbatoare legala sau in timpul petrecerilor private programul poate suferi modificari!</p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <h3>UNDE NE GASITI?</h3>
        <p>Bd. Bucurestii Noi, nr. 48, sector 1, Bucuresti</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 offset-xl-3 offset-lg-3">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Numele dumneavoastra">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" placeholder="Telefon">
        </div>
        <div class="form-group">
          <textarea name="" id="" cols="10" rows="5"  placeholder="Mesaj" class="form-control"></textarea>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Trimite</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
